.chord{
    height:20vh;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.string{
    display: flex;
    justify-content: center;
    position: relative;
}

.fret{
    color:red;
    position: relative;
    border: 1px solid blue;
}

.fret-0{
    
}

.fret-1{
    
}

.fret-2{
    
}

.fret-3{
    
}

@media  (min-width: 400px) {
    .string{
        top:0.9vh;
        margin-top: 1.5vh;
    }
  }