.chord{
    height:15em;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.fretMarker{
    width:80%;
    background-position:initial;
    margin: auto;
}

.string{
    display: flex;
    justify-content: center;
    position: relative;
}

.fret{
    color:red;
    position: relative;
    border: 1px solid blue;
    width: 3.75em;
}

.fret-r{
    width: 100%;
    position: initial;
    border-right: 0.2em solid rgba(150,150,150,1);
}

.string-r{
    display: flex;
    justify-content: center;
    position: relative;
    margin-left: 2.5em;
    height: 2.1em;
}

.string-r:first-child{
    padding-top: 1.2em;
}

.string-img{
    width: 125%;
}

.fret-0{
    
}

.fret-1{
    
}

.fret-2{
    
}

.fret-3{
    
}

@media  (min-width: 400px) {
    .string{
        top:0.75em;
        margin-top: 1em;
    }

    .fret-0{
        left:-1em;
    }
    
    .fret-1{
        left: 0.5em;
    }
    
    .fret-2{
        left: 1.75em;
    }
    
    .fret-3{
        left: 3em;
    }

    .fret-r-0{
        
    }
    
    .fret-r-1{
    
    }
    
    .fret-r-2{
    
    }
    
    .fret-r-3{
        
    }
  }